html {
  background-image: url("/images/main-visual.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-facebook {
  background-color: #3b5998;
}

.bg-twitter {
  background-color: #55acee;
}
